@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply font-sans antialiased;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-gray-900 to-brand-dark bg-clip-text text-transparent;
  }
}


